:root {
  --videonail-toggle-size: 36px;
  --videonail-header-height: 24px;
  --videonail-color: rgba(208, 10, 10, 0.5);
  --transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
}

/* == Toggle button at top left of video  == */

#videonail-toggle {
  background: transparent;
  border: 0;
  cursor: pointer;
  height: var(--videonail-toggle-size);
  top: 0;
  left: 0;
  opacity: 0.75;
  padding: 6px;
  position: absolute;
  transition: var(--transition);
  width: var(--videonail-toggle-size);
  z-index: 99;
}

/* Hide with other controls */

.ytp-autohide #videonail-toggle {
  opacity: 0;
}

/* Hide when in PIP or fullscreen */

.ytp-fullscreen #videonail-toggle {
  display: none;
}

#videonail-toggle:hover {
  opacity: 1;
}

/* == Toggle message in place of player == */

.videonail-original-player-msg {
  align-items: center;
  color: #777;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

/* Dark Polymer design */

[dark] .videonail-original-player-msg {
  color: #ccc;
}

/* == VideoNail Player == */

.videonail #player-container,
/* Polymer */

body#body .videonail #movie_player
/* Old */

  {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto !important;
  background: transparent !important;
  box-sizing: border-box;
}

/* On Hover*/
.videonail #player-container:hover,
body#body .videonail #movie_player:hover {
  border-color: var(--videonail-color);
  transition: opacity 0.25s;
}

/* == VideoNail Container == */
#videonail-container {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  z-index: 2147483647;
  background: transparent;
  border-top: none;
  min-width: 50px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* Force video to take up available space */
.videonail .html5-video-container,
.videonail video {
  height: 100% !important;
  flex: 1 1 auto !important;
  width: 100% !important;
}

/* Force proper width for controls at bottom */

.videonail .ytp-chrome-bottom {
  width: calc(100% - 24px) !important;
}

/* PIP window header */

.videonail .videonail-header {
  background: rgba(208, 10, 10, 1);
  flex: 0 1 var(--videonail-header-height);
  opacity: 0.5;
  transition: var(--transition);
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.videonail-header:hover {
    opacity: 0.75 !important;
}

#ytd-player,
#movie_player {
  display: inherit;
  flex: 1 1 auto;
}

#minimizeButton {
  background-color: transparent;
  margin-right: 5px;
  border: none;
  margin: none;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0.75;
}

#minimizeButton:hover {
  cursor: pointer!important;
  opacity: 1;
}

.fa-window-minimize,
.fa-window-maximize,
.fa-plus {
  color: white;
  opacity: inherit;
  ;
  padding-right: 7px;
}

.fa-window-maximize {
  padding-top: 1px;
}

div.ytp-contextmenu.ytp-popup {
  z-index: 2147483647;
}
