/* #video-nail {
    margin-top: 50px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
} */

:root {
  --videonail-pip-toggle-size: 36px;
  --videonail-header-height: 24px;
  --videonail-pip-red-bg: red;
  --transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
}

/* == Toggle button at top left of video  == */
#videonail-pip-toggle {
  background: transparent;
  border: 0;
  cursor: pointer;
  height: var(--videonail-pip-toggle-size);
  top: 0;
  left: 0;
  opacity: 0.75;
  padding: 6px;
  position: absolute;
  transition: var(--transition);
  width: var(--videonail-pip-toggle-size);
  z-index: 99;
}

/* Hide with other controls */
.ytp-autohide #videonail-pip-toggle {
  opacity: 0;
}

/* Hide when in PIP or fullscreen */
.ytp-fullscreen #videonail-pip-toggle {
  display: none;
}

#videonail-pip-toggle:hover {
  opacity: 1;
}

/* == Toggle message in place of player == */
.videonail-original-player-msg {
  align-items: center;
  color: #777;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

/* Dark Polymer design */
[dark] .videonail-original-player-msg {
  color: #ccc;
}

/* == Main VideoNail PIP Pane  == */
.videonail-pip #player-container,
/* Polymer */
body#body .videonail-pip #movie_player
/* Old */
{
  display: flex;
  flex-flow: column;
  max-height: 100vh;
  max-width: 100vw;
  min-height: 100px;
  min-width: 100px;
  position: fixed !important;
  z-index: 99;
  border: 5px solid transparent;
  background: transparent !important;
}

.videonail-pip #player-container:hover,
/* Polymer */
body#body .videonail-pip #movie_player:hover
/* Old */ {
  border-color: red;
  transition: 0.25s all;
}

/* Force video to take up available space */

.videonail-pip .html5-video-container,
.videonail-pip video {
  height: 100% !important;
  flex: 1 1 auto !important;
  width: 100% !important;
}

/* Force proper width for controls at bottom */
.videonail-pip .ytp-chrome-bottom {
  width: calc(100% - 24px) !important;
}

/* PIP window header */
.videonail-pip .videonail-header {
/*  background: var(--videonail-pip-red-bg);*/
  background: red;
  cursor: move;
  flex: 0 1 var(--videonail-header-height);
  opacity: 0;
  transition: var(--transition);
  margin: 0;
  padding: 0;
}

.videonail-header:hover {
  opacity: 0.75 !important;
}

#ytd-player {
  display: inherit !important;
  flex: 1 1 auto;
}
