:root {
  --videonail-sync-size: 22px;
  --videonail-header-height: 24px;
  --videonail-color: rgba(208, 10, 10, 0.5);
  --transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
}

/* VideoNail Player */
.videonail-player {
  display: flex;
  flex-flow: column;
  background: transparent !important;
  width: 100% !important;
  border: none;
}

/* Apply this class for border */
.videonail-player-active {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto !important;
  border: 5px solid var(--videonail-color) !important;
  box-sizing: border-box;
  border-top: none !important;
  margin: 0px 0px 0px 0px !important;
}

.videonail-player-iframe {
  flex: 1 1 auto !important;
  box-sizing: border-box;
}

/* Hides video in minimized state */
.videonail .minimize {
  display: none !important;
}

/* VideoNail Outer Container */
.videonail-container {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  background: transparent;
  border-top: none;
  min-width: 50px;
  z-index: 2147483646;
}
/* Default mode on /watch page */
.videonail-container-std-mode {
  width: 100% !important;
  height: 100% !important;
  top: 0px !important;
  left: 0px !important;
  cursor: default !important;
  margin: 0 auto;
}
/* PiP Mode */
.videonail-container-pip-mode {
  right: 0px;
  bottom: 0px;
  margin: 0;
  position: fixed !important;
}
/* Hide view toggle in PiP mode */
.videonail-container-pip-mode button.ytp-size-button.ytp-button{
  display: none !important;
}

/* Force video to take up available space */
.videonail .html5-video-container,
.videonail .videonail-player-active video {
  height: 100% !important;
  flex: 1 1 auto !important;
  width: 100% !important;
}

.videonail-player-active .html5-video-player .html5-video-container .html5-main-video {
  left: 0px !important;
  top: 0px !important;
}

.videonail-sync {
  background: transparent;
  border: 0;
  cursor: pointer;
  height: var(--videonail-sync-size);
  left: 0;
  opacity: 0.5;
  padding: 6px;
  position: absolute;
  top: 0;
  width: var(--videonail-sync-size);
}

.videonail-container-std-mode .videonail-sync {
  /* Sync button should be on top of the YT nav bar */
  z-index: 99;
}

.videonail-container-pip-mode .videonail-sync {
  /* Sync button should be on top of the YT nav bar */
  z-index: 2147483647; 
}

/* Force proper width for controls at bottom */
.videonail .ytp-chrome-bottom {
  width: calc(100% - 24px) !important;
}

/* Hide header in default view on /watch */
.videonail-header-std-mode {
  display: none;
}

/* Header styling */
.videonail .videonail-header {
  background: rgba(208, 10, 10, 1);
  flex: 0 1 var(--videonail-header-height);
  opacity: 0.5;
  transition: var(--transition);
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  display: flex;
}
.videonail .videonail-header:hover {
  opacity: 0.75 !important;
}

#ytd-player,
#movie_player {
  display: inherit;
  flex: 1 1 auto;
}

/* Button styling */
button.videonail-button {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  margin: 0 !important;
  padding: 0 5px 0 !important;
  opacity: 0.75 !important;
  width: auto !important;
  height: auto !important;
  font-size: 10pt !important;
}
button.videonail-button#videonailCloseButton {
  margin-right: 5px !important;
}

#videonailMinimizeButton:hover,
#videonailCloseButton:hover {
  cursor: pointer !important;
  opacity: 1 !important;
}

button.videonail-button>img {
  color: white !important;
  opacity: inherit !important;
  box-shadow: none !important;
  border: none !important;
  width: 13px;
  height: 13px;
}

/* YouTube context menu always on top */
div.ytp-contextmenu.ytp-popup {
  z-index: 2147483646;
}
